
/* common style  */


body{
    font-family: 'Poppins', sans-serif;
    padding: 80px 10%;
    background-color:#FFFFFF;
}
h1{
    font-size: 52px;
    margin-top: 145px;
    margin-bottom: 0px;
}
h2{
    font-size: 24px;
}
a{
    text-decoration: none;
    color: black;
}
p{
    margin: 32px 0px;
}

/* navbar style  */


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 34px;
    font-size: 16px;
    font-weight: 600;
}


/* top banner style  */

.flexible-container{
    display: flex;
    align-items: center;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 60%;
    padding-left: 30%;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60%;
}
.button{
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    height: 44px;
}
/* brands logo style  */

.brands{
    margin: 100px 0px;
    justify-content: center;
    border-top: 1px solid ;
    border-bottom: 1px solid ;
    border-image: linear-gradient(to right,#C0CCDA 10%,#C0CCDA 60%,#C0CCDA 10%);
    border-image-slice: 1;
}
.brands img{
    padding: 35px;    
}